@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Oswald");


.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding-top: 100px;
}

.title {
  display: flex;
  position: relative;
  bottom: -75px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.ouricon {
  width: 100px;
  align-self: center;
  margin-top: -120px;
}

.title-text {
  font-family: "PT Sans", sans-serif;
  color: #4b9cd3;
  padding: 0 15px;
}

.inner-text {
  align-self: center;
  margin-bottom: 25px;
}

.font-title {
  /* font-family: 'Oswald', sans-serif; */
  font-family: "PT Sans", sans-serif;
  font-size: 2.7em;
  font-weight: 100;
  color: #767676;
}

.font-title2 {
  font-family: "Josefin Slab", serif;
}

.frameContainer {
  position: relative;
}

.frame1 {
   width: 100%;
   height: 700px;
   background-size: cover;
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.frame1Text {
  position: absolute;

}

.mid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textBox {
  display: flex;
  width: 125px;
  height: 350px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  padding-top: 70px;
  margin: 5% 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #767676;
}


    .fade_1 {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      animation: float_1;
      animation-duration: 50s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      }

    .fade_1:hover {
          opacity: 1;
      }


    @keyframes float_1 {
      0% {
        transform: translate(150px, 125px);
        opacity: 0.0;
      }
      25% {
        transform: translate(0, -540px);
        opacity: 1;
      }
      26% {
        transform: translate(0, -550px);
        opacity: 1;
      }
      100% {
        transform: translate(0,-550px);
        opacity: 0;
      }
    }
    
    .fade_2 {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      animation: float_2;
      animation-delay: 8s;
      animation-duration: 50s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      }

    .fade_2:hover {
          opacity: 1;
      }

      @keyframes float_2 {
      0% {
        transform: translate(150px, 125px);
        opacity: 0.0;
      }
      25% {
        transform: translate(150, -540px);
        opacity: 0.7;
      }
      26% {
        transform: translate(200px, -550px);
        opacity: 1;
      }
      100% {
        transform: translate(100px,-550px);
        opacity: 0;
      }
    }

    .fade_3 {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      animation: float_3;
      animation-delay: 15s;
      animation-duration: 50s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      }

    .fade_3:hover {
          opacity: 1;
      }

      @keyframes float_3 {
      0% {
        transform: translate(150px, 125px);
        opacity: 0.0;
      }
      25% {
        transform: translate(150px, -540px);
        opacity: 1;
      }
      26% {
        transform: translate(50px, -550px);
        opacity: 1;
      }
      100% {
        transform: translate(100px, -550px);
        opacity: 0;
      }
    }

    .fade_4 {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      animation: float_3;
      animation-delay: 24s;
      animation-duration: 50s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      }

    .fade_4:hover {
          opacity: 1;
      }

      @keyframes float_4 {
      0% {
        transform: translate(150px, 125px);
        opacity: 0.0;
      }
      25% {
        transform: translate(-50, -540px);
        opacity: 0.7;
      }
      26% {
        transform: translate(-20px, -550px);
        opacity: 1;
      }
      100% {
        transform: translate(100px, -550px);
        opacity: 0;
      }
    }

    .fade_5 {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      animation: float_3;
      animation-delay: 32s;
      animation-duration: 50s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      }

    .fade_5:hover {
          opacity: 1;
      }

      @keyframes float_5 {
      0% {
        transform: translate(150px, 125px);
        opacity: 0.0;
      }
      25% {
        transform: translate(-10, -540px);
        opacity: 1;
      }
      26% {
        transform: translate(-50px, -550px);
        opacity: 1;
      }
      100% {
        transform: translate(100px, -550px);
        opacity: 0;
      }
    }

    .fade_6 {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      animation: float_3;
      animation-delay: 40s;
      animation-duration: 50s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      }

    .fade_6:hover {
          opacity: 1;
      }

      @keyframes float_6 {
      0% {
        transform: translate(150px, 125px);
        opacity: 0.0;
      }
      25% {
        transform: translate(-50, -540px);
        opacity: 1;
      }
      26% {
        transform: translate(-50px, -550px);
        opacity: 1;
      }
      100% {
        transform: translate(100px, -550px);
        opacity: 0;
      }
    }

    
